* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Red Hat Text;
}

.container {
  margin-inline: 24px;
}

h1 {
  font-weight: 700;
  color: color/rose-900;

  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 32px;
}

.food-card {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-card .product-informations {
  position: relative;
  margin-bottom: 24px;
}

.food-card .product-informations button {
  font-size: 14px;
  font-weight: 600;

  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 160px;
  height: 44px;

  background-color: white;
  border: 1px solid #AD8A85;
  border-radius: 999px;

  z-index: 2;
  white-space: nowrap;
}

.food-card .product-informations button img {
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
}

.food-card .product-informations img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;

  object-fit: cover;
  display: block;
}

.food-card .product-informations h5 {
  font-size: 14px;
  color: #87635A;
}

.food-card .product-informations h4 {
  font-weight: 600;
}

.order-card{
  margin-left: 24px;
}

.order-card h2{
  margin-top: 24;
  margin-left: 24;
}