* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Red Hat Text;
}

.container {
  margin-inline: 24px;
}

.container .general-title {
  margin-top: 24px;
  /* margin-left: 24px; */
  margin-bottom: 32px;
}

.container .general-title h1 {
  font-weight: 700;
  color: #260F08;
}

.container .food-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .food-card .product-informations {
  position: relative;
  margin-bottom: 32px;
}

.container .food-card .product-informations .image-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.container .food-card .product-informations button {
  font-size: 14px;
  font-weight: 600;

  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 160px;
  height: 44px;

  background-color: white;
  border: 1px solid #AD8A85;
  border-radius: 999px;

  z-index: 2;
  white-space: nowrap;
}

.container .food-card .product-informations button img {
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
}

.container .food-card .product-informations img {
  width: 100%;
  height: 212px;
  border-radius: 8px;
  /* margin-bottom: 16px; */

  object-fit: cover;
  display: block;
}

.container .food-card .product-informations h5 {
  font-size: 14px;
  color: #87635A;
  margin-top: 36px;
}

.container .food-card .product-informations h4 {
  font-weight: 600;
}

.container .order-card {
  margin-inline: 24px;
  margin-bottom: 64px;
}

.container .order-card h2 {
  color: #C73B0F;
  font-weight: 700;

  margin-bottom: 24px;
}

.container .order-card .items-card img {
  padding: 16px 75px 30px 75px;
}

.container .order-card .items-card h5 {
  font-size: 14px;
  color: #87635A;
  text-align: center;
}


@media(width>767px) {
  .container .food-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: start;
  }

  .container .food-card .product-informations {
    width: auto;
    gap: 24px;
  }

  .container .food-card .product-informations .image-wrapper {
    width: 100%;
  }
  .container .food-card .product-informations .image-wrapper .product-photo {
    width: 100%;
    height: 212px;
  }

  .container .order-card {
    margin-inline: 24px;
    margin-bottom: 64px;
  }

  .container .order-card h2 {
    margin-bottom: 24px;
  }

  .container .order-card .items-card img {
    padding: 16px 256px 30px 256px;
  }
}

@media(width>1109px) {
  .container {
    max-width: 1440px;
    margin: 88px auto;
    padding-inline: 88px;
  }

  /* .container .general-title h1 {
    margin-left: 34px;
  } */

  .food-card-and-order-card {
    display: flex;
  }

  .container .food-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .container .food-card .product-informations {
    width: calc((100% - 48px) / 3);
  }

  .container .food-card .product-informations .image-wrapper .product-photo {
    width: 100%;
    /* kartın genişliğine uysun */
    height: 212px;
  }

  .container .order-card {
    width: 384px;
  }

  .container .order-card .items-card img {
    padding: 16px 50px 30px 50px;
  }
}